.content-box{
    background-color: #D9D9D9 ;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    max-height: 300px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > div:first-child{
        overflow: hidden;
        & #router-link {
            display: flex;
            align-items: flex-end;
            & p{
                font-size: 30px;
                margin-left: 5px;
            }
            margin-bottom: 10px ;
            & img{
                width: 48px;
                height: 48px;
            }
        }
    }
    & #description{
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    & p{
        color: #000000;
    }

    & > #infos > div{
        display: flex;
        align-items: center;
        & .blueRound{
            img{
                width: 38px;
                height: 38px;
            }
            margin-right: 10px;
        }
        & p{
            font-size: 25px;
        }
    }
}

.bigger-box {
    & > div:first-child >p{
        font-size: 19px !important;
        margin-bottom: 5px;
    }
    & #infos > div{
        margin-bottom: 5px;
    }
}